/* noto-sans-regular */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/noto-sans.woff2') format('woff2'),
       url('../fonts/noto-sans.woff') format('woff'),
       url('../fonts/noto-sans.ttf') format('truetype'),
       url('../fonts/noto-sans.svg#NotoSans') format('svg');
}

/* josefin-sans-600 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/josefin-sans-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/josefin-sans-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-sans-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-sans-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-sans-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-sans-600.svg#JosefinSans') format('svg'); /* Legacy iOS */
}