{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{% block content %}
  {% if content %}
    <nav class="action-links">
      <ul class="usa-list usa-list--unstyled">
        {{ content }}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
